modules/contrib/*
libraries/*

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~

# OS or Editor folders
.DS_Store
.sass-cache
.cache
.idea
.project
.settings
.tmproj
nbproject
Thumbs.db
.buildpath

# Folders to ignore
.hg
.svn
.CVS
cgi-bin
